body{
    margin:auto;
    background-color:rgb(231, 206, 157);
}
header{
    height: 60px;
    /* border:5px solid yellowgreen; */
    background-color:rgb(68, 51, 34);
}

#brand{
    float:left;
    color:white;
    margin-left:1%;
    margin-bottom:1;
}

#social{
    float:right;

}

.link{
    height:50px;

}

a{
    text-decoration:none;
}
/* search section */
#search{
    height: 450px;
    /* border:10px dotted blue; */
    background-image: url("img/food\ wall.png.jpg");
    background-size: cover;
    /* background-size: 100% 450px; */
}

.logo{
    height: 150px;
    width: 150px;
    background-color:white;
    border-radius:50%;
    margin-left:45%;
    margin-top:2%;
    position: absolute;
    font-size:80px;
    animation: logo 10s infinite;
}

@keyframes logo {
    0%{
        margin-left:2%;
        transform: rotate(30deg);
   }

   25%{
        margin-left:40%;
        transform: rotate(90%);
   }

   50%{
        margin-left:60%;
        transform: rotate(180deg);
    }

    75%{
        margin-left:80%;
        transform: rotate(270deg);
   }

   100%{
        margin-left:40%;
        transform: rotate(360deg);
   }
}
.logo span{
    margin-left:25%;
    margin-top:20%;
    position: absolute;
}

#heading{
    font-size:55px;
    color:white;
    margin-left:33%;
    margin-top:15%;
    position: absolute;
}

.dropdown{
    height: 60px;
    width: 50%;
    /* border:2px solid white; */
    margin-left:30%;
    margin-top:23%;
    position: absolute;

}

select{
    height: 50px;
    width:40%;
    font-size:20px;
    text-align: center;
}

#resselect{
    width:59%;


}
#quicksearch{
    /* height: 550px; */
    /* border: 10px groove pink; */
    width:80%;
    margin-left:10%;
    margin-top:2%;
    margin-bottom:2%;
}

.quickheading{
    color:rgb(108, 54, 54);
    font-size:30px;
    font-weight:bold;
    display: block;
    margin-left:2%;
}

.quickheading:hover{
    color: rgba(91, 33, 158, 0.723);
    font-size:45px;
}
.quicksubhead{
    font-size:20px;
    color: rgb(69, 137, 74);
    line-height:2;
    margin-left:2%;
}

#tilebox{
    display: flex;
    flex-wrap: wrap;
}

.tilecontent{
    height: 170px;
    width:30%;
    /* border:2px solid rgb(171, 57, 76); */
    margin-left:2%;
    margin-top:3%;
    display:flex;
    box-shadow:10px 20px 18px rgb(47, 44, 44);
    animation: movement 5s infinite
}

@keyframes movement {
    0%   {transform: rotate(-5deg);
    }
    25%  {transform: rotate(0deg);
    }
    50%  {transform: rotate(5deg);
    }
    75%  {transform: rotate(0deg);
    }
    100% {transform: rotate(-5deg);
    }
}

.tilecontent:hover{
    transform:scale(1.1)
}

.tilecomponent1{
    width:52%;
}

.tilecomponent1 img{
    width:100%;
    height:100%;
}

.tilecomponent2{
    width:45%;
    margin-left:3%;
    margin-top:16%;
}

.comheading{
    font-size:25px;
    font-weight: bold;
    color:blueviolet
}

.comheading a{
    color: blueviolet;
}

.comsubheading{
    font-size:18px;
    color:rgb(0, 0, 0);
}

footer{
    /* height: 80px; */
    /* border:5px double yellow; */
    background-color: rgba(70, 30, 30, 0.807);
    text-align: center;
    color: white;
}

.footertext{
    font-size:20px;
}

.footdiv{
    display:inline-block;
    width:32%;
    border-right: 2px solid white;
}

ul{
    list-style-type: none;
}

.noborder{
    border:none;
}

@media screen and (max-width:1600px){
   body{
    background-color: rgb(231, 206, 157);
   }
}

@media screen and (max-width:1400px){
    body{
     background-color: rgb(211, 170, 87);
    }
 }

 @media screen and (max-width:1000px){
    body{
     background-color: rgb(207, 160, 65);
    }
 }